.container {
  width: 100%;
  height: 100%;
  padding-inline: 163px 167px;
  box-sizing: border-box;
  overflow-x: hidden;
  @media (max-width: 1300px) {
    padding-inline: 100px;
  }
  @media (max-width: 1000px) {
    padding-inline: 32px;
  }
  @media (max-width: 768px) {
    padding-inline: 15px;
}
}
